* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: #4682b4;
    padding: 10px;
}
nav a {
    color: #ffffff;
    display: block;
    padding: 20px;
}
h1 {
    color: #4682b4;
    padding-left: 20px;
    padding-top: 20px;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid #4682b4;
    padding: 10px;
    box-shadow: 0 0 30px #808080;
}
p {
    padding: 20px;
}
main {
    max-width: 840px;
}
aside {
    width: 250px; 
    padding: 40px;
    margin: 20px; 
    position: relative; 
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
    float: right;
}
footer {
    margin-top: 10px;
    border: 1px solid #4682b4;
    border-top: 2px solid ;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid #000000;
    padding: 1rem;
    background-color: #4682b4;
    color: #ffffff;  
}
aside h2{
    position:absolute;

}